footer {
  height: 10vh;
  background-color: #13131F;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  width: 100%;

  p {
    font-size: 1em;
  }
}