.screen-admin-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.chamados-list {
    list-style: none;
    padding: 0;
    margin: 0;


    thead {
        tr {
            background-color: #c7c7c7;
            border-right: solid 1px #333;

            th {
                color: #333;
                font-weight: bold;
                padding: 10px;
                text-align: left;

            }
        }
    }

    tbody {
        tr {
            td {
                padding: 10px;
                border-right: solid 1px #333;
                vertical-align: top;
            }
        }
    }

    .chamado-item {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 5px;

        h3 {
            margin-top: 0;
            color: #333;
        }

        p {
            margin: 5px 0;
            color: #555;
        }
    }
}